@model Recycling.Models.ProductView

@{
    ViewBag.Title = "Details";
}

<h2>@Model.ProductName</h2>

<div>
    <h4>Product Detail</h4>
    <hr />
    <img src="@Url.Content(Model.ImageURL)" alt="Image" width= "400" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.ConstituentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConstituentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recyclability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recyclability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>*@

    </dl>
</div>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.UPC }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
